# Windows system files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# Windows folders
$RECYCLE.BIN/
System Volume Information/

# Installer packages
*.cab
*.msi
*.msix
*.msm
*.msp

# Shortcuts
*.lnk
